.content{
    display:flex;
    justify-content: flex-start;
    background-color: blue;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    color: yellow;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
    
}

.content1{
    dispaly:flex;
    background-color: tomato;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    color:blue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
    border-radius: 100px;
    border-style: solid;
    border-width: 20px;

}

.content2{
    dispaly:flex;
    background-color:skyblue;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    color:darkblue;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    border-radius: 200px;
    border-block-end-color: darkgreen;
    
}